@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
h2{
    margin-bottom: 30px;
    font-size: 2.5em;
}
.box{
    position: relative;
    width: 600px;
    height: 200px;
    border-bottom: 2px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box label{
    position: relative;
    width: 100%;
    height: 33.333%;
    border: 2px solid #555;
    border-bottom: none;
}

.box label input{
    /* appearance: none; */
    color:  #fff;

}

.box label i{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 600px ;
}

.box label:nth-child(1) i{
    background-image: url("assets/01.jpg");
}

.box label:nth-child(2) i{
    background-image: url("assets/02.jpg");
}

.box label:nth-child(3) i{
    background-image: url("assets/03.jpg");
}